@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: "SangBleu Empire";
      src: url("/assets/fonts/SangBleuEmpire-Black.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuEmpire-Black.woff2") format("woff2"),
           url("/assets/fonts/SangBleuEmpire-Black.woff") format("woff"),
           url("/assets/fonts/SangBleuEmpire-Black.ttf") format("truetype"),
           url("/assets/fonts/SangBleuEmpire-Black.svg") format("svg");
      font-weight: 800;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Empire";
      src: url("/assets/fonts/SangBleuEmpire-Bold.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuEmpire-Bold.woff2") format("woff2"),
           url("/assets/fonts/SangBleuEmpire-Bold.woff") format("woff"),
           url("/assets/fonts/SangBleuEmpire-Bold.ttf") format("truetype"),
           url("/assets/fonts/SangBleuEmpire-Bold.svg") format("svg");
      font-weight: 700;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Empire";
      src: url("/assets/fonts/SangBleuEmpire-Medium.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuEmpire-Medium.woff2") format("woff2"),
           url("/assets/fonts/SangBleuEmpire-Medium.woff") format("woff"),
           url("/assets/fonts/SangBleuEmpire-Medium.ttf") format("truetype"),
           url("/assets/fonts/SangBleuEmpire-Medium.svg") format("svg");
      font-weight: 400;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Empire";
      src: url("/assets/fonts/SangBleuEmpire-Regular.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuEmpire-Regular.woff2") format("woff2"),
           url("/assets/fonts/SangBleuEmpire-Regular.woff") format("woff"),
           url("/assets/fonts/SangBleuEmpire-Regular.ttf") format("truetype"),
           url("/assets/fonts/SangBleuEmpire-Regular.svg") format("svg");
      font-weight: 300;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Empire";
      src: url("/assets/fonts/SangBleuEmpire-BlackItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuEmpire-BlackItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuEmpire-BlackItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuEmpire-BlackItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuEmpire-BlackItalic.svg") format("svg");
      font-weight: 800;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Empire";
      src: url("/assets/fonts/SangBleuEmpire-BoldItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuEmpire-BoldItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuEmpire-BoldItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuEmpire-BoldItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuEmpire-BoldItalic.svg") format("svg");
      font-weight: 700;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Empire";
      src: url("/assets/fonts/SangBleuEmpire-MediumItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuEmpire-MediumItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuEmpire-MediumItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuEmpire-MediumItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuEmpire-MediumItalic.svg") format("svg");
      font-weight: 400;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Empire";
      src: url("/assets/fonts/SangBleuEmpire-RegularItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuEmpire-RegularItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuEmpire-RegularItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuEmpire-RegularItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuEmpire-RegularItalic.svg") format("svg");
      font-weight: 300;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Kingdom";
      src: url("/assets/fonts/SangBleuKingdom-Bold.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuKingdom-Bold.woff2") format("woff2"),
           url("/assets/fonts/SangBleuKingdom-Bold.woff") format("woff"),
           url("/assets/fonts/SangBleuKingdom-Bold.ttf") format("truetype"),
           url("/assets/fonts/SangBleuKingdom-Bold.svg") format("svg");
      font-weight: 700;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Kingdom";
      src: url("/assets/fonts/SangBleuKingdom-Medium.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuKingdom-Medium.woff2") format("woff2"),
           url("/assets/fonts/SangBleuKingdom-Medium.woff") format("woff"),
           url("/assets/fonts/SangBleuKingdom-Medium.ttf") format("truetype"),
           url("/assets/fonts/SangBleuKingdom-Medium.svg") format("svg");
      font-weight: 400;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Kingdom";
      src: url("/assets/fonts/SangBleuKingdom-Regular.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuKingdom-Regular.woff2") format("woff2"),
           url("/assets/fonts/SangBleuKingdom-Regular.woff") format("woff"),
           url("/assets/fonts/SangBleuKingdom-Regular.ttf") format("truetype"),
           url("/assets/fonts/SangBleuKingdom-Regular.svg") format("svg");
      font-weight: 300;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Kingdom";
      src: url("/assets/fonts/SangBleuKingdom-Light.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuKingdom-Light.woff2") format("woff2"),
           url("/assets/fonts/SangBleuKingdom-Light.woff") format("woff"),
           url("/assets/fonts/SangBleuKingdom-Light.ttf") format("truetype"),
           url("/assets/fonts/SangBleuKingdom-Light.svg") format("svg");
      font-weight: 200;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Kingdom";
      src: url("/assets/fonts/SangBleuKingdom-Air.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuKingdom-Air.woff2") format("woff2"),
           url("/assets/fonts/SangBleuKingdom-Air.woff") format("woff"),
           url("/assets/fonts/SangBleuKingdom-Air.ttf") format("truetype"),
           url("/assets/fonts/SangBleuKingdom-Air.svg") format("svg");
      font-weight: 100;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Kingdom";
      src: url("/assets/fonts/SangBleuKingdom-BoldItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuKingdom-BoldItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuKingdom-BoldItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuKingdom-BoldItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuKingdom-BoldItalic.svg") format("svg");
      font-weight: 700;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Kingdom";
      src: url("/assets/fonts/SangBleuKingdom-MediumItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuKingdom-MediumItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuKingdom-MediumItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuKingdom-MediumItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuKingdom-MediumItalic.svg") format("svg");
      font-weight: 400;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Kingdom";
      src: url("/assets/fonts/SangBleuKingdom-RegularItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuKingdom-RegularItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuKingdom-RegularItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuKingdom-RegularItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuKingdom-RegularItalic.svg") format("svg");
      font-weight: 300;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Kingdom";
      src: url("/assets/fonts/SangBleuKingdom-LightItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuKingdom-LightItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuKingdom-LightItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuKingdom-LightItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuKingdom-LightItalic.svg") format("svg");
      font-weight: 200;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Kingdom";
      src: url("/assets/fonts/SangBleuKingdom-AirItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuKingdom-AirItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuKingdom-AirItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuKingdom-AirItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuKingdom-AirItalic.svg") format("svg");
      font-weight: 100;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Republic";
      src: url("/assets/fonts/SangBleuRepublic-Bold.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuRepublic-Bold.woff2") format("woff2"),
           url("/assets/fonts/SangBleuRepublic-Bold.woff") format("woff"),
           url("/assets/fonts/SangBleuRepublic-Bold.ttf") format("truetype"),
           url("/assets/fonts/SangBleuRepublic-Bold.svg") format("svg");
      font-weight: 700;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Republic";
      src: url("/assets/fonts/SangBleuRepublic-Medium.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuRepublic-Medium.woff2") format("woff2"),
           url("/assets/fonts/SangBleuRepublic-Medium.woff") format("woff"),
           url("/assets/fonts/SangBleuRepublic-Medium.ttf") format("truetype"),
           url("/assets/fonts/SangBleuRepublic-Medium.svg") format("svg");
      font-weight: 400;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Republic";
      src: url("/assets/fonts/SangBleuRepublic-Book.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuRepublic-Book.woff2") format("woff2"),
           url("/assets/fonts/SangBleuRepublic-Book.woff") format("woff"),
           url("/assets/fonts/SangBleuRepublic-Book.ttf") format("truetype"),
           url("/assets/fonts/SangBleuRepublic-Book.svg") format("svg");
      font-weight: 400;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Republic";
      src: url("/assets/fonts/SangBleuRepublic-Regular.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuRepublic-Regular.woff2") format("woff2"),
           url("/assets/fonts/SangBleuRepublic-Regular.woff") format("woff"),
           url("/assets/fonts/SangBleuRepublic-Regular.ttf") format("truetype"),
           url("/assets/fonts/SangBleuRepublic-Regular.svg") format("svg");
      font-weight: 300;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Republic";
      src: url("/assets/fonts/SangBleuRepublic-BoldItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuRepublic-BoldItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuRepublic-BoldItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuRepublic-BoldItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuRepublic-BoldItalic.svg") format("svg");
      font-weight: 700;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Republic";
      src: url("/assets/fonts/SangBleuRepublic-MediumItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuRepublic-MediumItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuRepublic-MediumItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuRepublic-MediumItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuRepublic-MediumItalic.svg") format("svg");
      font-weight: 400;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Republic";
      src: url("/assets/fonts/SangBleuRepublic-BookItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuRepublic-BookItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuRepublic-BookItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuRepublic-BookItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuRepublic-BookItalic.svg") format("svg");
      font-weight: 400;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Republic";
      src: url("/assets/fonts/SangBleuRepublic-RegularItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuRepublic-RegularItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuRepublic-RegularItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuRepublic-RegularItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuRepublic-RegularItalic.svg") format("svg");
      font-weight: 300;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Versailles";
      src: url("/assets/fonts/SangBleuVersailles-Bold.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuVersailles-Bold.woff2") format("woff2"),
           url("/assets/fonts/SangBleuVersailles-Bold.woff") format("woff"),
           url("/assets/fonts/SangBleuVersailles-Bold.ttf") format("truetype"),
           url("/assets/fonts/SangBleuVersailles-Bold.svg") format("svg");
      font-weight: 700;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Versailles";
      src: url("/assets/fonts/SangBleuVersailles-Medium.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuVersailles-Medium.woff2") format("woff2"),
           url("/assets/fonts/SangBleuVersailles-Medium.woff") format("woff"),
           url("/assets/fonts/SangBleuVersailles-Medium.ttf") format("truetype"),
           url("/assets/fonts/SangBleuVersailles-Medium.svg") format("svg");
      font-weight: 400;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Versailles";
      src: url("/assets/fonts/SangBleuVersailles-Book.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuVersailles-Book.woff2") format("woff2"),
           url("/assets/fonts/SangBleuVersailles-Book.woff") format("woff"),
           url("/assets/fonts/SangBleuVersailles-Book.ttf") format("truetype"),
           url("/assets/fonts/SangBleuVersailles-Book.svg") format("svg");
      font-weight: 400;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Versailles";
      src: url("/assets/fonts/SangBleuVersailles-Regular.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuVersailles-Regular.woff2") format("woff2"),
           url("/assets/fonts/SangBleuVersailles-Regular.woff") format("woff"),
           url("/assets/fonts/SangBleuVersailles-Regular.ttf") format("truetype"),
           url("/assets/fonts/SangBleuVersailles-Regular.svg") format("svg");
      font-weight: 300;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Versailles";
      src: url("/assets/fonts/SangBleuVersailles-BoldItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuVersailles-BoldItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuVersailles-BoldItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuVersailles-BoldItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuVersailles-BoldItalic.svg") format("svg");
      font-weight: 700;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Versailles";
      src: url("/assets/fonts/SangBleuVersailles-MediumItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuVersailles-MediumItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuVersailles-MediumItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuVersailles-MediumItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuVersailles-MediumItalic.svg") format("svg");
      font-weight: 400;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Versailles";
      src: url("/assets/fonts/SangBleuVersailles-BookItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuVersailles-BookItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuVersailles-BookItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuVersailles-BookItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuVersailles-BookItalic.svg") format("svg");
      font-weight: 400;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Versailles";
      src: url("/assets/fonts/SangBleuVersailles-RegularItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuVersailles-RegularItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuVersailles-RegularItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuVersailles-RegularItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuVersailles-RegularItalic.svg") format("svg");
      font-weight: 300;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Sunrise";
      src: url("/assets/fonts/SangBleuSunrise-Bold.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuSunrise-Bold.woff2") format("woff2"),
           url("/assets/fonts/SangBleuSunrise-Bold.woff") format("woff"),
           url("/assets/fonts/SangBleuSunrise-Bold.ttf") format("truetype"),
           url("/assets/fonts/SangBleuSunrise-Bold.svg") format("svg");
      font-weight: 700;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Sunrise";
      src: url("/assets/fonts/SangBleuSunrise-Medium.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuSunrise-Medium.woff2") format("woff2"),
           url("/assets/fonts/SangBleuSunrise-Medium.woff") format("woff"),
           url("/assets/fonts/SangBleuSunrise-Medium.ttf") format("truetype"),
           url("/assets/fonts/SangBleuSunrise-Medium.svg") format("svg");
      font-weight: 400;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Sunrise";
      src: url("/assets/fonts/SangBleuSunrise-Livre.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuSunrise-Livre.woff2") format("woff2"),
           url("/assets/fonts/SangBleuSunrise-Livre.woff") format("woff"),
           url("/assets/fonts/SangBleuSunrise-Livre.ttf") format("truetype"),
           url("/assets/fonts/SangBleuSunrise-Livre.svg") format("svg");
      font-weight: 400;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Sunrise";
      src: url("/assets/fonts/SangBleuSunrise-Regular.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuSunrise-Regular.woff2") format("woff2"),
           url("/assets/fonts/SangBleuSunrise-Regular.woff") format("woff"),
           url("/assets/fonts/SangBleuSunrise-Regular.ttf") format("truetype"),
           url("/assets/fonts/SangBleuSunrise-Regular.svg") format("svg");
      font-weight: 300;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Sunrise";
      src: url("/assets/fonts/SangBleuSunrise-Light.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuSunrise-Light.woff2") format("woff2"),
           url("/assets/fonts/SangBleuSunrise-Light.woff") format("woff"),
           url("/assets/fonts/SangBleuSunrise-Light.ttf") format("truetype"),
           url("/assets/fonts/SangBleuSunrise-Light.svg") format("svg");
      font-weight: 200;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Sunrise";
      src: url("/assets/fonts/SangBleuSunrise-Air.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuSunrise-Air.woff2") format("woff2"),
           url("/assets/fonts/SangBleuSunrise-Air.woff") format("woff"),
           url("/assets/fonts/SangBleuSunrise-Air.ttf") format("truetype"),
           url("/assets/fonts/SangBleuSunrise-Air.svg") format("svg");
      font-weight: 100;
      font-style: normal
  }
  
  @font-face {
      font-family: "SangBleu Sunrise";
      src: url("/assets/fonts/SangBleuSunrise-BoldItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuSunrise-BoldItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuSunrise-BoldItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuSunrise-BoldItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuSunrise-BoldItalic.svg") format("svg");
      font-weight: 700;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Sunrise";
      src: url("/assets/fonts/SangBleuSunrise-MediumItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuSunrise-MediumItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuSunrise-MediumItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuSunrise-MediumItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuSunrise-MediumItalic.svg") format("svg");
      font-weight: 400;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Sunrise";
      src: url("/assets/fonts/SangBleuSunrise-RegularItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuSunrise-RegularItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuSunrise-RegularItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuSunrise-RegularItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuSunrise-RegularItalic.svg") format("svg");
      font-weight: 300;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Sunrise";
      src: url("/assets/fonts/SangBleuSunrise-LightItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuSunrise-LightItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuSunrise-LightItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuSunrise-LightItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuSunrise-LightItalic.svg") format("svg");
      font-weight: 200;
      font-style: italic
  }
  
  @font-face {
      font-family: "SangBleu Sunrise";
      src: url("/assets/fonts/SangBleuSunrise-AirItalic.eot") format("embedded-opentype"),
           url("/assets/fonts/SangBleuSunrise-AirItalic.woff2") format("woff2"),
           url("/assets/fonts/SangBleuSunrise-AirItalic.woff") format("woff"),
           url("/assets/fonts/SangBleuSunrise-AirItalic.ttf") format("truetype"),
           url("/assets/fonts/SangBleuSunrise-AirItalic.svg") format("svg");
      font-weight: 100;
      font-style: italic
  }
  
  summary.list-style-none::-webkit-details-marker {
    @apply hidden;
  }
}
